#-*-ruby-*-

module Antilaconia
  module Antilaconia::Settings
    # Secret key for handling session cookies.
    # BE SURE TO CHANGE THIS. Otherwise, stuff gets REALLY evil.
    # Cats and dogs living together, mass hysteria, and people exploiting
    # your security left and right by crafting their own session cookies.
    # And the below one really isn't a good example of a secret phrase,
    # I guess. =)
    CampingSessionSecret = 'Is this readable??? I do hope not.'
    # SQLite3 database where the stuff is stored.
    DatabaseFile = './antilaconia.db'

    # Twitter settings, from your registered Twitter app.
    # See Twitter Gem homepage (http://sferik.github.io/twitter/).
    TwitterConsumerKey = ''
    TwitterConsumerSecret = ''
    TwitterOAuthToken = ''
    TwitterOAuthTokenSecret = ''
  end
end

require './antilaconia.rb'

use Rack::Static, :urls => ["/s"]
run Antilaconia
