/* Default CSS for Antilaconia. */

#pagetitle {
    text-align: center;
}

#postbox {
}

#newpostcontainer {
    width: auto;
}
#newpost {
    width: auto;
}
#charcount {
}
.goodcharcount { color: #0a0; }
.badcharcount { color: #a00; }
#postbutton {
    text-align: left;
}
.entry {
    margin: 5px auto 60px auto;
    padding: 2px 2px 2px 2px;
}
.timestamp {
    color: #aaa;
    text-align: right; font-size: smaller; font-style: italic;
    padding-right: 3em;
}
